$success: #5ed189;
$failure: #ef9986;

#Launch-Container {
	width: 100%;
	padding: 10px;
	max-width: 1600px;
	margin: 60px auto;
}
.launch-item-container {
	width: 100%;
	padding-bottom: 150%;
	background: #ec846d;
	display: inline-block;
	position: relative;
	margin-bottom: 20px;
	box-shadow: 0px 3px 5px #b4b4b4;
	.launch-item {
		position: absolute;
		display: inline-block;
		width: 100%;
		height: 100%;
		overflow: hidden;
		.badge {
			height: 50%;
			width: 100%;
			position: absolute;
			z-index: 3;
			// background: #fbfbfb;
		}
		.launch-details {
			position: absolute;
			width: 100%;
			height: 68%;
			bottom: 0;
			padding: 20px;
			overflow: hidden;
			z-index: 2;
			text-align: center;
			h3 {
				font-family: 'Istok Web';
				font-size: 2em;
				margin-bottom: 0;
			}
			.launch-details-container {
				width: 100%;
				height: 100%;
				overflow: hidden;
				.date {
					font-weight: 100;
					opacity: .5;
					display: block;
					position: relative;
				}
				p.details {
					overflow: hidden;
				    display: -webkit-box;
				    -webkit-line-clamp: 8;
				    -webkit-box-orient: vertical;  
				}
				.status {
				    position: absolute;
				    bottom: 15px;
				    width: calc(100% - 40px);
				    text-align: center;
				    opacity: .5;
				    font-weight: 100;
				    text-transform: uppercase;
				    font-size: 1.4em;
				}
			}
			.map-container {
				width: 25%;
				position: absolute;
				padding-bottom: 25%;
				bottom: 0;
				right: 30%;
				.map {
					width: 100%;
					height: 100%;
					position: absolute;
					bottom: -55%;
					right: 25%;
					background-color: lightgray;
					border-radius: 50%;
					box-shadow: inset 1px 2px 5px #909090;
					background-image: url('/img/generic-map.png');
		            // background-size: contain;
		            background-position: center;
		            background-repeat: no-repeat;
				}
			}
		}
		.launch-item-bg {
			width: 170%;
			height: 100%;
			background: #f8f8f8;
			bottom: -30%;
			left: -34%;
			position: relative;
			border-radius: 51%;
			z-index: 1;
		}

	}
}
.map-icon-container, .video-icon-container {
	width: 25%;
	height: 25%;
	font-size: 2em;
    position: absolute;
    bottom: 0px;
    color: lightgray;
    cursor: pointer;
}
.map-icon-container {
	right: 0px;
}
.video-icon-container {
    left: 0px;
}
.map-icon {
	position: absolute;
	bottom: 20px;
	right: 20px;
	transition: .3s;
}
.video-icon {
	position: absolute;
	bottom: 20px;
	left: 20px;
	transition: .3s;
}
.map-icon-container.success:hover .map-icon, .video-icon-container.success:hover .video-icon{
	color: gray;
	transform: scale(1.2);
}
.map-icon-container.failure:hover .map-icon, .video-icon-container.failure:hover .video-icon{
	color: gray;
	transform: scale(1.2);
}

@media only screen and (min-width: 600px) {
	#Launch-Container {
		padding-right: 0;
	}
    .launch-item-container {
    	width: calc(50% - 10px) !important;
    	margin-right: 10px;
    	padding-bottom: 80%;
    }
}
@media only screen and (min-width: 1000px) {
    .launch-item-container {
    	width: calc(33% - 10px) !important;
    	margin-right: 10px;
    	padding-bottom: 50%;
    }
}
@media only screen and (min-width: 1200px) {
    .launch-item-container {
    	width: calc(25% - 10px) !important;
    	margin-right: 10px;
    	padding-bottom: 35%;
    }

}