$success: #5ed189;

.options-bg { 
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: #313841;
	opacity: .99;
	z-index: -1;
}
#Options {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 60px;
	right: 0;
	// background: #172636;
	z-index: 20;
	// opacity: .9;
	padding: 20px;
	color: #efefef;
	transition: .3s;
	// font-family: 'Istok Web';
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-weight: 100;
	&.opened {
		right: 0;
	}
	&.closed {
		right: -100%;
	}
	h3 {
		font-size: 2em;
		margin-top: 0;
		margin-bottom: 20px;
		font-weight: 200;
	}
	.spacer {
		width: 10%;
		height: 15px;
		margin-bottom: 15px;
		border-bottom: 1px solid #909090;
	}
	.options-content {
		font-size: 1.1em;
		letter-spacing: 1px;
		input {
			margin-bottom: 10px;
		}
	}
	#Cancel, #Apply, #Reset {
		width: 50%;
		height: 40px;
		background: white;
		font-size: 1em;
		font-weight: 300;
		outline: none;
		border: none;
		color: #333f4d;
		cursor: pointer;
	}
	#Cancel {
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
		background: #1b303a;
		color: #b4b4b4;
		border: 1px solid #b4b4b4;
		border-right: none;
		transition: .3s;
		&:hover {
			border-color: white;
			color: white
		}
	}
	#Apply {
		background-color: $success;
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
	}
	#Reset-Container {
		text-align: center;
		#Reset {
			background: transparent;
			display: block;
			margin: 0 auto;
			border: none;
			color: #b4b4b4;
			font-size: 90%;
			text-decoration: underline;
			font-weight: 100;
		}
	}
}

.close-icon, .bars-icon {
	position: fixed;
	font-size: 1.2em;
	color: gray;
	cursor: pointer;
	z-index: 22;
}
.close-icon {
    top: 18px;
    right: 25px;
}
.bars-icon {
	top: 20px;
	right: 25px;
}

@media only screen and(min-width: 300px) {
	#Options {
		width: 100%;
	}
}

@media only screen and (min-width: 600px) {
	#Options {
		width: 50%;
		&.closed {
			right: -50%;
		}
	}
}
@media only screen and (min-width: 1000px) {
	#Options {
		width: 33.33%;
		&.closed {
			right: -33.33%;
		}
	}
}
@media only screen and (min-width: 1200px) {
	#Options {
		width: 25%;
		&.closed {
			right: -25%;
		}
	}
}
@media only screen and (min-width: 1600px) {
	#Options {
		width: 400px;
		&.closed {
			right: -400px;
		}
	}
}