$success: #5ed189;

.options-bg { 
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: #313841;
	opacity: .99;
	z-index: -1;
}
.about-bg { 
	overflow: scroll;
	padding: 20px;
	width: 100%;
	max-height: calc(100% - 160px);
	position: absolute;
	top: 100px;
	left: 0;
	background: #313841;
	opacity: .99;
	font-size: 1.2em;
	z-index: 1;
	transition: 0;
	padding-top: 0px;
}
#Options {
	label, input {
		cursor: pointer !important;
	}
	overflow: scroll;
	-webkit-font-smoothing: antialiased;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 60px;
	right: 0;
	z-index: 20;
	padding: 20px;
	color: #efefef;
	transition: .3s;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-weight: 100;
	&.opened {
		right: 0;
	}
	&.closed {
		right: -100%;
	}
	h3 {
		font-size: 2em;
		margin-top: 0;
		margin-bottom: 5px;
		font-weight: 300;
	}
	.spacer {
		width: 10%;
		height: 15px;
		margin-bottom: 25px;
		border-bottom: 1px solid #909090;
	}
	.options-content {
		font-size: 1.1em;
		letter-spacing: 1px;
		input {
			margin-bottom: 10px;
		}
	}
	#Cancel, #Apply, #Reset {
		width: 50%;
		height: 40px;
		background: white;
		font-size: 1em;
		font-weight: 300;
		outline: none;
		border: none;
		color: #333f4d;
		cursor: pointer;
		transition: .3s;
	}
	#Cancel {
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
		background: #1b303a;
		color: #b4b4b4;
		border: 1px solid #b4b4b4;
		border-right: none;
		transition: .3s;
		&:hover {
			border-color: white;
			color: white
		}
	}
	#Apply {
		background-color: $success;
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
		border: 1px solid $success;
		color: #ffffff;
		&:hover {
			border-color: white;
			color: white
		}
	}
	#Reset-Container {
		text-align: center;
		#Reset {
			background: transparent;
			display: block;
			margin: 0 auto;
			border: none;
			color: #b4b4b4;
			font-size: 90%;
			text-decoration: underline;
			font-weight: 100;
			&:hover {
				color: white;
			}
		}
	}
}

.close-icon, .bars-icon {
	position: fixed;
	font-size: 1.2em;
	color: gray;
	cursor: pointer;
	z-index: 22;
}
.close-icon {
    top: 18px;
    right: 25px;
}
.bars-icon {
	top: 20px;
	right: 25px;
}

.react-datepicker-wrapper {
	.react-datepicker__input-container {
		input {
			height: 35px;
			border-radius: 3px;
			border: none;
			padding: 0 10px;
			font-size: .8em;
			font-weight: 100;
			outline: none;
		}
	}
}

.radio-container {
	display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.circlemark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radio-container:hover input ~ .circlemark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radio-container input:checked ~ .circlemark {
    background-color: $success;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.circlemark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-container input:checked ~ .circlemark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.radio-container .circlemark:after {
 	top: 7px;
	left: 7px;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background: white;
}


/* Checkbox container */
.checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
    background-color: $success;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
    left: 7px;
    top: 3px;
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.about, .aboutClose {
	position: absolute;
	top: 27px;
	right: 23px;
	font-size: 1.5em;
	cursor: pointer;
}

@media only screen and(min-width: 300px) {
	#Options {
		width: 100%;
	}
}

@media only screen and (min-width: 600px) {
	#Options {
		width: 50%;
		&.closed {
			right: -50%;
		}
	}
}
@media only screen and (min-width: 1000px) {
	#Options {
		width: 33.33%;
		&.closed {
			right: -33.33%;
		}
	}
}
@media only screen and (min-width: 1200px) {
	#Options {
		width: 25%;
		&.closed {
			right: -25%;
		}
	}
}
@media only screen and (min-width: 1600px) {
	#Options {
		width: 400px;
		&.closed {
			right: -400px;
		}
	}
}